.btn {
    padding: 5px 10px;
    border: 1px solid black;
    cursor: pointer;
}

.dangerBtn:hover {
    border: 1px solid red;
    background-color: red;
    color: #fff;
}

.successBtn:hover {
    border: 1px solid green;
    background-color: green;
    color: #fff;
}